
<!-- model IEnumerable<BookLibraryEF.Model.Book> -->



    @foreach (var item in Model)
    {
           
    <h2>@item.ID</h2>
    <h2>@item.Title</h2>
    <h2>@item.Discription</h2>
    <h2>@item.Price</h2>
    <h2>@item.ImageUrl</h2>
    }

